body{
                    background:linear-gradient(cyan , lightgreen );
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    color: brown;
                }
img{
    float: right;
}

.page{
    border: 4px solid orange;
    min-height: 100vh;
    border-radius : 4px;
    padding: 10px;

}
